@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.form {
  display: flex;
  margin: 0 1rem 1rem;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid $secondary-divider-color;
  @include tablet {
    margin: 0 2.25rem 0;
    padding: 1rem 0;
  }
  @include desktop {
    margin: 0;
    padding: 1rem 2.25rem;
  }
  &__form {
    width: 100%;
    position: relative;
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
    &::before {
      content: "JOIN THE CONVERSATION";
      position: absolute;
      display: none;
      top: -1rem;
      color: $secondary-text-color;
      @include mobile-subheader-text;
      @include tablet {
        display: block;
      }
    }
  }
  &__area {
    width: 100%;
    padding: 0 0 1rem;
    @include tablet {
      width: 70%;
      margin: 0 1.5rem 0 0;
      padding: 0;
    }
  }
  &__avatar {
    border-radius: 50%;
    max-width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    object-position: left;
    margin: 1.5rem 1rem 0 0;
    @include tablet {
      max-width: 2.5rem;
      height: 2.5rem;
      margin: 0 1rem 0 0;
    }
    @include desktop {
      margin: 0 2rem 0 0;
    }
  }
  &__label {
    color: $secondary-text-color;
    @include mobile-subheader-text;
    @include tablet {
      display: none;
    }
  }
  &__input {
    resize: none;
    border-radius: 4px;
    border: 2px solid $secondary-divider-color;
    background-color: $secondary-form-color;
    color: $primary-text-color;
    font-family: "AvenirNext LT Pro", Verdana, Geneva, Tahoma, sans-serif;
    min-height: 5rem;
    padding: 0.813rem;
    width: 100%;

    @include tablet {
      padding: 0.5rem 0;
      min-height: 2.5rem;
      max-height: 2.5rem;
    }
  }
  &__button {
    width: 100%;
    height: 2.5rem;
    border-radius: 4px;
    background-color: $primary-cta-color;
    color: $background-color;
    font-family: "AvenirNext LT Pro", Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    @include mobile-label-button-text;
    @include tablet {
      width: 30%;
      @include tablet-desktop-button-label-text;
    }
    position: relative;
    &::before {
      position: absolute;
      content: url("../../assets/icons/add_comment.svg");
      top: 10px;
      left: 10px;
    }
    &:hover {
      background-color: $secondary-hover-color;
    }
  }
}
