// font colors
$primary-text-color: #323232; //brainflix-black
$primary-cta-color: #0095ff; //brainflix-blue
$secondary-text-color: #afafaf; //silver; also for text label colour
$background-color: #ffffff; //white; also for CTA text color

$secondary-video-color: #000000; //brainflix-darkblack
$secondary-hover-color: #0065ad; //brainflix-darkblue
$secondary-divider-color: #e1e1e1; //mercury; also for form field outline
$secondary-form-color: #fafafa; //alabaster; for form field background

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
