@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.videos {
  @include tablet {
    padding: 1rem 2.25rem 1.5rem;
  }
  padding: 0 1rem 1.5rem;
  &__item {
    display: flex;
    margin-bottom: 1rem;
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__image {
    height: 4rem;
    max-width: 6.5rem;
    margin-right: 1rem;
    background-color: $secondary-divider-color;
    border-radius: 4px;
  }

  &__title {
    color: $secondary-text-color;
    @include mobile-subheader-text;
    padding: 0.5rem 0 1rem 0rem;
  }
  &__subheading {
    @include mobile-subheader-text;
    color: $primary-text-color;
    font-size: bold;
  }
  &__author {
    @include mobile-body-text;
    color: $primary-text-color;
  }
}
