@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.videos {
  padding: 0 1rem 1.5rem;
  border-left: 1px solid $secondary-divider-color;
  @include tablet {
    padding: 1rem 2.25rem 1.5rem;
  }
  @include desktop {
    width: 35%;
  }
  &__item {
    display: flex;
    margin-bottom: 1rem;
    @include tablet {
      width: 43%;
    }
    @include desktop {
      width: 100%;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__image {
    height: 4rem;
    max-width: 6.5rem;
    margin-right: 1rem;
    background-color: $secondary-divider-color;
    border-radius: 4px;
  }

  &__title {
    color: $secondary-text-color;
    @include mobile-subheader-text;
    padding: 0.5rem 0 1rem 0rem;
  }
  &__subheading {
    @include mobile-subheader-text;
    color: $primary-text-color;
    font-size: bold;
  }
  &__author {
    @include mobile-body-text;
    color: $primary-text-color;
  }
}
