@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.description {
  &__heading {
    @include mobile-page-header-text;
    color: $primary-text-color;
    margin: 1.5rem 1rem 1rem;
    padding: 0 0 1rem 0;
    border-bottom: 1px solid $secondary-divider-color;
    text-align: left;
    @include tablet {
      @include tablet-desktop-page-text;
      margin: 1.5rem 2.25rem 1rem;
      border: none;
      padding: 0;
    }
    @include desktop {
      margin: 0;
      padding: 1.5rem 2.25rem 1rem;
    }
  }
  &__details {
    display: flex;
    justify-content: flex-start;
    margin: 0 1rem 1rem;
    padding: 0 0 1rem;
    border-bottom: 1px solid #e1e1e1;
    @include mobile-body-text;
    color: $secondary-text-color;
    @include tablet {
      justify-content: space-between;
      margin: 0 2.25rem 1rem;
      padding: 0;
      @include tablet-desktop-body-text;
    }
    @include desktop {
      margin: 0;
      padding: 0 2.25rem;
    }
  }
  &__authoring {
    margin: 0 2rem 0 0;
    @include tablet {
      display: flex;
      justify-content: flex-start;
    }
  }
  &__author {
    font-weight: bold;
    color: $primary-text-color;
    padding: 0 0 1rem 0;
    @include tablet {
      @include tablet-desktop-subheader-text;
      margin: 0 2.25rem 0 0;
    }
  }
  &__interact {
    width: 30%;
    @include tablet {
      display: flex;
      justify-content: flex-end;
      width: 25%;
    }
  }
  &__visibility {
    padding: 0 0 1rem 0;
    display: flex;
  }
  &__visibility-icon {
    margin: 0 0.5rem 0 0;
  }
  &__like {
    display: flex;
    @include tablet {
      margin: 0 0 0 2.25rem;
    }
  }
  &__like-icon {
    margin: 0 0.5rem 0 0;
    @include tablet {
      padding: 0 0 1rem 0;
    }
  }
  &__text {
    color: $primary-text-color;

    @include mobile-body-text;
    @include tablet {
      @include tablet-desktop-body-text;
    }
    @include desktop {
      padding: 1rem 0 0 0;
    }
  }
  &__paragraph {
    padding: 0rem 1rem 1rem;
    @include tablet {
      padding: 0rem 2.25rem 1rem;
    }
  }
  &__comments {
    font-weight: bold;
    padding: 0.5rem 1rem 1rem;
    @include tablet {
      padding: 0.5rem 2.25rem 1.5rem;
    }
  }
}
