@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.upload {
  &__label {
    color: $secondary-text-color;
    @include mobile-subheader-text;
  }
  &__container {
    @include desktop {
      display: flex;
      padding: 1.5rem 6rem;
    }
  }
  &__video-container {
    padding: 0 1rem 1rem;
    @include tablet {
      padding: 0 2.25rem 1rem;
      width: 60%;
    }
    @include desktop {
      width: 50%;
      padding: 0;
      margin: 0 1.5rem 0 0;
    }
  }
  &__image {
    width: 100%;
    @include desktop {
      height: 100%;
      padding: 0 0 1rem;
    }
  }
  &__area-container {
    @include column-flex;
    padding: 0 1rem;
    @include tablet {
      padding: 0 2.25rem;
    }
    @include desktop {
      width: 100%;
      padding: 0;
      justify-content: space-between;
    }
  }
  &__area-title,
  &__area-description {
    @include column-flex;
  }
  &__title,
  &__description {
    font-family: "AvenirNext LT Pro", Verdana, Geneva, Tahoma, sans-serif;
    background-color: $secondary-form-color;
    color: $primary-text-color;
    border-radius: 4px;
    border: 2px solid $secondary-divider-color;
    padding: 0.5rem 1rem;
    margin: 0 0 1.5rem;
    &:focus {
      outline: none;
      border: 2px solid $primary-cta-color;
    }
    &--invalid {
      border: 1px solid #d22d2d;
    }
  }
  &__description {
    resize: none;
    min-height: 5rem;

    @include desktop {
      min-height: 7rem;
      margin: 0;
      padding: 0.5rem 1rem 0;
    }
  }
  &__buttons {
    @include column-flex;
    align-items: center;
    padding: 0 1rem;

    @include tablet {
      padding: 1.5rem 0;
      margin: 0 2.25rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      border-top: 1px solid $secondary-divider-color;
    }
    @include desktop {
      margin: 0 6rem;
    }
  }
  &__publish,
  &__cancel {
    height: 2.5rem;
    border: none;
    font-family: "AvenirNext LT Pro", Verdana, Geneva, Tahoma, sans-serif;
    @include mobile-label-button-text;
  }
  &__publish {
    width: 100%;
    border-radius: 4px;
    background-color: $primary-cta-color;
    color: $background-color;
    position: relative;
    margin: 0 0 2rem 0;
    @include tablet {
      width: 22%;
    }
    @include desktop {
      width: 17%;
    }
    &::before {
      position: absolute;
      content: url("../../assets/icons/publish.svg");
      top: 0.5rem;
      left: 0.5rem;
    }
    &:hover {
      background-color: $secondary-hover-color;
    }
  }
  &__cancel {
    width: 100%;
    margin-bottom: 2rem;
    color: $primary-cta-color;
    background: $background-color;
    &:hover {
      color: $secondary-hover-color;
    }
    @include tablet {
      width: 22%;
    }
  }
}
