@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video {
  &__player {
    width: 100%;
    border-radius: 0;
    background-color: $secondary-video-color;

    @include tablet {
      height: 35vh;
    }
    @include desktop {
      height: 40vh;
    }
  }
}
