//import other scss files?
@use "./styles/partials/_typography.scss" as *;
@use "./styles/partials/_variables.scss" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "AvenirNext LT Pro", Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  background-color: $background-color;
}
